[Desktop Entry]
Version=1.0
Type=Application
Name=Churros Welcome
Comment=Welcome to ChurrOS
Exec=churros-welcome
Icon=churros-welcome
Terminal=false
StartupNotify=true
Categories=System;
X-GNOME-Autostart-enabled=true
