[Desktop Entry]
Type=Application
Name=ChurroStore
GenericName=Software Center
Comment=Instala apps de pacman, flatpak y AUR
Exec=churros-store
Icon=churros-store
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
Keywords=store;install;package;flatpak;pacman;aur;
